version: '3.8'

services:
  app:
    build: .
    container_name: plataforma_agricola_app
    restart: always
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/html
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=plataforma_agricola
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: plataforma_agricola_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: plataforma_agricola
    ports:
      - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: plataforma_agricola_phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  dbdata:
